<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50670408925-4b00da87auk7gtcos30mng4smhpgaqqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50670408925-4b00da87auk7gtcos30mng4smhpgaqqm</string>
	<key>API_KEY</key>
	<string>AIzaSyCKqSCxUJ118wy0bRzug4BoQHM-i6KHxac</string>
	<key>GCM_SENDER_ID</key>
	<string>50670408925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raksha</string>
	<key>PROJECT_ID</key>
	<string>raksha-cd146</string>
	<key>STORAGE_BUCKET</key>
	<string>raksha-cd146.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50670408925:ios:2139c224e2013045d8b734</string>
	<key>DATABASE_URL</key>
	<string>https://raksha-cd146-default-rtdb.firebaseio.com</string>
</dict>
</plist>